.table tr td{
    width: 100%;
}

.btnAddMember {
    margin-left: auto;
}

.content {
    min-height: calc(100vh - 90px);
}

.footer {
    height: 50px;
    left: 0;
    right: 0;
    text-align: center;
}

.footer svg {
    display: inline-flex;
}

.footer a svg{
    display: inline-flex;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }



