#tabela tr td{
    width: 100%;
}

.content {
    min-height: calc(100vh - 70px);
  }

  .footer {
    height: 50px;
    left: 0;
    right: 0;
    text-align: center;
}

.footer svg {
    display: inline-flex;
}

.footer a svg{
    display: inline-flex;
}



